*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    background-image: url("../imge/background.jpg");
    height: 900px;
    width: 100%;
    background-size: 100% 100%;
}
.menu ul li{
    display: inline-block;
    margin:  15px 10px 0 10px;
}
.navigation{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    color:  white;
}
.logo{
    font-size: 40px;
    padding: 15px 0 0 20px;
}
.menu a{  
    text-decoration: none;
    color:  white;
}
